connection cloudmqtt
address CLOUD_MQTT_ADDRESS
topic # in
start_type automatic
remote_username CLOUD_MQTT_USER
remote_password CLOUD_MQTT_PASS
# remote_clientid: created on CloudMqtt webinterface with read privileges
remote_clientid REMOTE_CLIENT_ID
local_clientid hass
keepalive_interval 300
cleansession true
bridge_protocol_version mqttv311
bridge_cafile /etc/ssl/certs/ca-certificates.crt
bridge_insecure false
