zone:
  - name: School
    latitude: School_latitude
    longitude: School_longitude
    radius: 200
    icon: mdi:school
  - name: Home
    latitude: Home_latitude
    longitude: Home_longitude
    radius: 200
    icon: mdi:home
